/*
Colors used
Primary (blue): #1e16f8;
Secondary (khaki): #d9c771;
Accent (faded lime): #f3ffd6;
Neutral 1 (gray): #8a99b8;
Neutral 2 (black): #2e3741;
*/


/*  || GENERAL STYLES ||  */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 2; /* Sets the line-height to 1.6 * the font-size */
  color: #2e3741;
}

main {
  padding-top: 127.79px;
}

h1 {
  font-family: 'MuseoModerno';
  font-size: 2.75em;
  font-weight: 600;
  color: #1e16f8;
  line-height: 1.2;
  text-align: center;
}

h2, h3, h4 {
  font-weight: 800;
  color: #1e16f8;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #2e3741;
}

h4 {
  font-size: 1.1em;
  line-height: 1.6;
}


/*  || SITEWIDE STYLES ||  */

header {
  background-color: #ffffff;
  padding: 15px;
  text-transform: uppercase;
  border-bottom: 0 solid #000000; /* Creates a line under the header */
  font-family: 'MuseoModerno', arial;
  font-size: 16px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 17px 10px -13px rgba(46,55,65,0.25);
  -moz-box-shadow: 0px 17px 10px -13px rgba(46,55,65,0.25);
  box-shadow: 0px 17px 10px -13px rgba(46,55,65,0.25);

}

nav {
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 600; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  display: inline-block;
  width: 100%;
}
/* I don't know why the nav is not centered within the header container, there's extra space on the left side */

nav ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  padding: 0 5px;
}

nav ul li a:hover, a:focus {
  font-family: 'MuseoModerno', serif;
  text-transform: uppercase;
  text-decoration: underline; /* Underlining when hovering over a link */
}

nav ul li a:active {
  font-family: 'MuseoModerno', serif;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

footer {
  background-color: #2e3741;
  color: #ffffff;
  position: absolute;
  bottom 0;
  width: 100%;
}


footer h2 {
  color: #f3ffd6;
}

footer a {
  color: #f3ffd6;
}

footer ul li {
  padding: 0 5px;
  margin: 0 10px;
  list-style-type: none;
  display: inline-block;
  float: right;
}

img {
  width: 100%;
}

a {
  color: #1e16f8;
  text-decoration: none; /* No underlining */
}

a:focus,
a:hover {
  text-transform: uppercase;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:visited {
  opacity: 50%;
}

.logo {
  width: 35px;
  height: auto;
}


.navtoggle li:not(:last-child) {
  display: none;
}


/*  || UTILITIES STYLES  || */

/*Primary read more button*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1e16f8;
  color: #ffffff; /* needed to override the default link color */
  font-family: 'MuseoModerno';
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 0.2s opacity;
  transition-duration: 0.2s opacity;
}
.button:hover {
  background-color: #1e16f8;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
}

.button:active {
  background-color: #1e16f8;
  text-decoration: none;
  color: #ffffff;
}

/*Secondary download stuff button*/
.button.download {
    background-color: transparent;
    color: #1e16f8;
    border: 2px solid #1e16f8;
    transition-duration: 0.2s opacity;
  }
  .button.download:hover {
    background-color: transparent;
    color: #1e16f8;
    opacity: 0.8;
  }

/*Tertiary contact & prototype button*/
.button.contact {
  background-color: #ffffff;;
  color: #1e16f8;
  font-family: 'MuseoModerno';
  margin: 15px;
  transition-duration: 0.2s opacity;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #1e16f8;
  opacity: 0.8;
}

.animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}


/* INDEX IDs */
#hero {
  padding: 20px 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

#hero h4 {
  text-transform: uppercase;
}

#hero ul li {
  text-align: center;
  list-style-type: none;
}

#hero span {
  display: block;
}


#work .row {
  padding-bottom: 25px;
}

#work h3 {
  margin-top: 0px;
}


#footerBlock {
  background-color: #f3ffd6;
}

/* VIAJA ID */

#projectPage h3 {
  padding-top: 2.5em;
}

#research {

}
#ideation{

}

#wireframe{

}

#design{

}

#prototype{

}

#conclusion{

}

/* ABOUT IDs */

#myStory span {
  color: #1e16f8;
}

#myStory h3 {
  margin-top: 0;
}

#myStory h1 {
  padding: 20px 0;
}

#skillsTools{

}





/*  || LAYOUT STYLING ||  */

.container {
  padding: 0 15px; /* 0 is no top or bottom */
  max-width: 1200px;
  margin: 0 auto;
}

[class*="col-"] {
  float: left;
  padding-right: 30px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}


/* || ANIMATION || */

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #1e16f8;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/* ==============================
MEDIUM devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {

  .col-md-6 {
    width: 50%;
  }

  body {
    font-size: 18px;
  }

  header {
  font-size: 22px;
  text-align: unset;
  padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    display: inline-block;
  }

  nav > ul > li {
  display: inline-block;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 99px;
    }
  }


/* ==============================
LARGE devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {


  .col-lg-7 {
    width: 58%;
  }

  .col-lg-5 {
    width: 42%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  body {
    font-size: 22px;
  }

}
