/*
Colors used
Primary (blue): #1e16f8;
Secondary (khaki): #d9c771;
Accent (faded lime): #f3ffd6;
Neutral 1 (gray): #8a99b8;
Neutral 2 (black): #2e3741;
*/

img {
  width: 100%;
}


a {
  color: #1e16f8;
  text-decoration: none; /* No underlining */
}
a:focus,
a:hover {
  font-family: 'MuseoModerno', arial;
  text-transform: uppercase;
  text-decoration: underline; /* Underlining when hovering over a link */
}

header {
  background-color: #ffffff;
  font-family: 'MuseoModerno', arial;
  font-size: 22px; /* Sets the font size to 16px */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #1e16f8;
}

nav {
  background-color: #ffffff;
  font-family: 'Manrope', arial;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #2e3741;
}

body {
  background-color: #ffffff;
  font-family: 'Manrope', arial;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 200; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #2e3741;
}

h1 {
  font-family: 'MuseoModerno';
  font-size: 2.75em;
  line-height: 1.4;
  font-weight: 600;
  color: #1e16f8;
  text-align: center;
}
h2, h3, h4 {
  font-family: 'Manrope';
  line-height: 1.4;
  font-weight: 800;
  color: #1e16f8;
}


h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #2e3741;
}
h4 {
  font-size: 1.1em;
}

/*Primary read more button*/
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1e16f8;
  color: #ffffff; /* needed to override the default link color */
  font-family: MuseoModerno;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 30px;
  border-bottom: 4px solid #f3ffd6; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  background-color: #1e16f8;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.button:active {
  background-color: #1e16f8;
  text-decoration: none;
  color: #ffffff;
}

/*Secondary download stuff button*/
.button.download {
    background-color: transparent;
    color: #1e16f8;
    border: 2px solid #1e16f8;
  }
  .button.download:hover {
    background-color: transparent;
    color: #1e16f8;
  }

/*Tertiary contact button*/
.button.contact {
  background-color: #8a99b8;;
  color: #ffffff;
  font-family: MuseoModerno;
  border: none;
}
.button.contact:hover {
  background-color: #8a99b8;
  color: #ffffff;
  border: none;
}


/* INDEX ids */
#hero {

}
#work {

}
.footer.block {

}

/* VIAJA ids */
#hero {

}
#research {

}
#ideation{

}

#wireframe{

}

#design{

}

#prototype{

}

#conclusion{

}

/* ABOUT ids */

#myStory{

}

#skillsTools{

}
